@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

.Main {
  background-color: #e8ecf4;
  position: relative;
}
.App {
  background-color: white;
  font-family: "Inter", sans-serif;
}
.main-wrapper {
  margin: 20px 50px;
  font-family: "Inter", sans-serif;
}

.wrapper {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav-wrapper {
  margin-top: 30px;
}
.logo {
  padding: 30px;
}

@media only screen and (max-width: 740px) {
  .logo {
    padding: 5px;
  }
  .wrapper {
    margin-top: 10px;
  }
}
